.App {
  /* text-align: center; */
  
 
}

.row{
 
background: antiquewhite;
padding: 14px;
 }

 .col-md-1:hover,.col-md-1:active{

  font-size: 20px;
  color: rgb(255, 145, 0);
  /* text-decoration: underline;
  cursor: pointer; */
 }






